.vscode/launch.json
.vscode/tasks.json
bin/Debug/net6.0/TwoThunsenFortyEight
bin/Debug/net6.0/TwoThunsenFortyEight.deps.json
bin/Debug/net6.0/TwoThunsenFortyEight.dll
bin/Debug/net6.0/TwoThunsenFortyEight.pdb
bin/Debug/net6.0/TwoThunsenFortyEight.runtimeconfig.json
bin/Debug/net6.0/ref/TwoThunsenFortyEight.dll
obj/project.assets.json
obj/project.nuget.cache
obj/TwoThunsenFortyEight.csproj.nuget.dgspec.json
obj/TwoThunsenFortyEight.csproj.nuget.g.props
obj/TwoThunsenFortyEight.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost
obj/Debug/net6.0/TwoThunsenFortyEight.AssemblyInfo.cs
obj/Debug/net6.0/TwoThunsenFortyEight.AssemblyInfoInputs.cache
obj/Debug/net6.0/TwoThunsenFortyEight.assets.cache
obj/Debug/net6.0/TwoThunsenFortyEight.csproj.AssemblyReference.cache
obj/Debug/net6.0/TwoThunsenFortyEight.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/TwoThunsenFortyEight.csproj.FileListAbsolute.txt
obj/Debug/net6.0/TwoThunsenFortyEight.dll
obj/Debug/net6.0/TwoThunsenFortyEight.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/TwoThunsenFortyEight.genruntimeconfig.cache
obj/Debug/net6.0/TwoThunsenFortyEight.GlobalUsings.g.cs
obj/Debug/net6.0/TwoThunsenFortyEight.pdb
obj/Debug/net6.0/ref/TwoThunsenFortyEight.dll
